[*.cs]

# IDE1006: Naming Styles
dotnet_diagnostic.IDE1006.severity = none

# IDE0063: Use simple 'using' statement
csharp_prefer_simple_using_statement = true:none

# CA1304: Specify CultureInfo
dotnet_diagnostic.CA1304.severity = none

# CA2000: Dispose objects before losing scope
dotnet_diagnostic.CA2000.severity = none

# CA1305: Specify IFormatProvider
dotnet_diagnostic.CA1305.severity = none
